div.absolute{
    position: absolute;
    border: 3px solid green;

}
div.fixed{
    position: fixed;
    border: 3px solid green;
}
div.relative{
    position: relative;
    border: 3px solid green;
}
div.static{
    position: static;
    border: 3px solid green;
}
div.sticky{
    position: sticky;
    border: 3px solid green;
}